.filter{
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.table{
    display: table;
    width: 100%;
    margin: auto;
}

.table-row{
    display: table-row;
    color: black;
}

.table-cell{
    display: table-cell;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

a:link{
    text-decoration: none;
}

.table-head{
    display: table-row;
    height: 50px;
    font-weight: bold;
    background-color: #8ac04b;
    color: white;
}


.table-row:hover{
    background-color: #73c2a1;
    color: whitesmoke;
}

.pagination{
    margin-top: 10px;
    text-align: center;
}

.step-links a{
    color: #8ac04b;
    padding: 2px;
    font-weight: bold;
    font-size: larger;
}

.step-links a:active{
    color:white;
}

.step-links a:hover{
    color: #5312d5;
}

span .current{
    color: blue;
}